

/* .loan-select {
    margin-bottom: 30px;
    
} */

.loan-select {
    display: flex;
    justify-content: center;
    padding: 30px 5px;
}

.loan-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px 0 50px 30px;
}