.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.dashboard-card {
    /* font-size: large; */
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(82, 79, 79);
    border-radius: 30px;
    border: 1px solid rgb(82, 79, 79);
    margin-top: 1.5rem;
}

.dashboard-button {
    text-decoration: none;
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(82, 79, 79);
    border: 1px solid rgb(82, 79, 79);
    width: 7rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    padding: 0.25rem;
    margin: 0.25rem;
    margin-left: 1rem;
}

.dashboard-button:hover, .dashboard-button:active {
    background-color: rgb(82, 79, 79);
    color: white;
}

.dashboard-card span {
    font-size: 30px;
    font-weight: bold;
}

