.login {
    width: 400px;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .login {
        width: 90%;
    }
}

.login h2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.text_login {
    width: 100% !important;
    margin-top: 10px !important;
}

.login_button {
    margin-top: 20px !important;
    width: 100% !important;
}