.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 90vh;
    overflow-y: scroll;
}

.register {
    background-color: white !important;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
    width: 50%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-bottom: 40px;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
    .register {
        width: 90%;
    }
}

.modal_register {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 1rem;
    /* top: 70%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* border: 1px solid gray; */
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: white;
    /* margin-bottom: 40px; */
}

.register h2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.text_register {
    width: 100% !important;
    margin-top: 10px !important;
}

.register_button {
    margin-top: 20px !important;
    width: 100% !important;
}